* {
  box-sizing: border-box;
}

@font-face {
  font-family: "LTCBroadway";
  src: url(fonts/LTCBroadway.ttf);
}

@font-face {
  font-family: "ComicsDeluxe";
  src: url(fonts/ComicsDeluxe.ttf);
}

#backgroundScreen1 {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("/Images/MenuBackground.jpg");
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
}

#backgroundScreen2 {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("/Images/SelectBackground.jpg");
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
}

#backgroundScreen3 {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("/Images/TimerModeBackground.jpg");
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
}

#backgroundScreen4 {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("/Images/ArcadeBackground.jpg");
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
}


#backgroundScreen5 {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("/Images/ManualBackground.png");
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
}


.button {
  background-color: #272727;
  font-family: "LTCBroadway", sans-serif;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 63px;
  border-radius: 12px;
  transition-duration: 0.3s;
  cursor: pointer;
}


.button:hover {
  background-color: white;
  color: #272727;
  border: 2px solid #ffffff;
}

.button-container {
  position: absolute;
  top: 91%; /* adjust to move up/down */
  left: 50%; /* adjust to move left/right */
  transform: translate(-50%, -50%);
}

.button-container-2 {
  position: absolute;
  top: 8%; /* adjust to move up/down */
  left: 16%; /* adjust to move left/right */
  transform: translate(-50%, -50%);
}

.boxing-manual-button {
  position: fixed;
  top: 58%; /* adjust to move up/down */
  left: 73%; /* adjust to move left/right */
  transform: rotate(-7deg); /* rotate image -7 degrees */
}

.interval-timer-button {
  position: fixed;
  top: 9%; /* adjust to move up/down */
  left: 13.5%; /* adjust to move left/right */
  transform: rotate(-6deg); /* rotate image -4 degrees */
}


.arcade-button{
  position: fixed;
  top: 61%; /* adjust to move up/down */
  left: 15%; /* adjust to move left/right */
  transform: rotate(11deg); /* rotate image 11 degrees */
}


/* arcade button animation */
.arcade-button img {
  animation: scale 2s ease-in-out infinite;
}

@keyframes scale {
0% {
transform: scale(1);
}
50% {
transform: scale(1.1);
}
100% {
transform: scale(1);
}
}


/* boxing manual button animation */
.boxing-manual-button img{
animation: scale 2s ease-in-out infinite;
}

@keyframes scale {
0% {
transform: scale(1);
}
50% {
transform: scale(1.1);
}
100% {
transform: scale(1);
}
}

/* interval timer button animation */
.interval-timer-button img{
  animation: scale 2s ease-in-out infinite;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: black;
  overflow: hidden;
}

.image-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 90px;
  height: 100%;
}

.image-row img {
  max-width: 100%;
  height: auto;
  margin-top: 230px;
}

.image-row img:hover {
  border: 20px solid white;
}

 /* animated overlay */

.overlay {
  opacity: 0.4;
  mix-blend-mode: multiply;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-image: url("/Images/OldCover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  pointer-events: none;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#timer {
  font-size: 48px;
  text-align: center;
  margin-top: 20px;
}

.manualPage {
  position: fixed;
  top: -12%;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manualPage img {
  max-width: 100%;
  max-height: 100%;
}

.next-page-button {
    position: fixed;
    top: 76%; /* adjust to move up/down */
    left: 85.5%; /* adjust to move left/right */
    position: absolute;
    z-index: 1;
  }
  
  /* scale animation */
  .next-page-button img {
    animation: scale 2s ease-in-out infinite;
  }
  
  @keyframes scale {
  0% {
  transform: scale(1);
  }
  50% {
  transform: scale(1.2);
  }
  100% {
  transform: scale(1);
  }
  }

  .back-page-button {
    position: fixed;
    top: 76%; /* adjust to move up/down */
    left: 11.5%; /* adjust to move left/right */
    position: absolute;
    z-index: 1;
  }
  
  .manualPageImage {
    position: fixed;
    width: 1725px; 
    height: 895px;
  }

  .buttons-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;

    position: relative;
    left: 458px;
    top: 733px;
    transform: translateY(-50%);
  }

  .buttons-row img:hover {
    border: 10px solid rgb(255, 255, 255);
    border-radius: 15px;
    -webkit-transform: scale(1); /* Chrome, Safari, Opera */
    transform: scale(1);
  }
  
  .buttons-row div {
    text-align: center;
  }

  .timerTextDiv {
    text-align: center;
    font-family: "ComicsDeluxe", sans-serif;
    text-shadow: 6px 6px #000000;
    -webkit-text-stroke: 6px black; 
    font-size: 144px;
    color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top:7%;
    left: 65%;
  }

  .timerTextDivWellDone {
    text-align: center;
    font-family: "ComicsDeluxe", sans-serif;
    text-shadow: 6px 6px #000000;
    -webkit-text-stroke: 6px black; 
    font-size: 95px;
    color: rgb(255, 255, 255);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top:29%;
    left: 55.5%;
  }

  .timer-character {
    position: fixed;
    top: 36%; /* adjust to move up/down */
    left: 11.5%; /* adjust to move left/right */
    transform: rotate(2.5deg); /* rotate image -7 degrees */
  }

  .arcade-character {
    position: fixed;
    top: 36%; /* adjust to move up/down */
    left: 13.5%; /* adjust to move left/right */
    transform: rotate(2.5deg); /* rotate image -7 degrees */
  }

  .timer-shape {
    position: fixed;
    top: 12%; /* adjust to move up/down */
    left: 52%; /* adjust to move left/right */
  }

  .timer-instructions{
    position: fixed;
    top: 3.5%; /* adjust to move up/down */
    left: 11%; /* adjust to move left/right */
  }
  
  
  /* arcade button animation */
  .timer-instructions img {
    animation: scale 2s ease-in-out infinite;
  }
  
  @keyframes scale {
  0% {
  transform: scale(1);
  }
  50% {
  transform: scale(1.05);
  }
  100% {
  transform: scale(1);
  }
  }

  input {
    position: fixed;
    top: 52.5%; /* adjust to move up/down */
    left: 55%; /* adjust to move left/right */
    width: 30%;
    height: 90px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 20px;
    font-size: 50px;
    background-color: rgb(255, 255, 255);
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    font-family: "LTCBroadway", sans-serif;
    text-align: center;
    transition: 0.2s;
    outline: none;
  }
 
  input:focus {
    background-color: white;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 20px;
    outline:#ffffff solid 10px;;
  }

.random-image{
  opacity:100%;
}

  .random-image-container {
    width:900px;
    position: absolute;
    top: 16%; /* adjust to move up/down */
    left: 50%; /* adjust to move left/right */
    color: #e20000;
  }

  .centered-image {
    position: flex;
    display: flex;
    width: 450px;
    height:450px; 
    left:50px;
    top:50px;
    margin: 0 auto;
    opacity: 1; /* start with full opacity */
 
    animation: blink 5s linear infinite;
  }

  @keyframes blink {
    70% {
      opacity: 1;
    }
    30% {
      opacity: 0;
    }

  }
  

  #random-image {

    max-width: 50%;
  }
  
  .startGameButton {
    background-color: #e20000;
    top:40%;
    left:40%;
    font-family: "LTCBroadway", sans-serif;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 63px;
    border-radius: 12px;
    transition-duration: 0.3s;
    cursor: pointer;
  }

  .startGameButton:hover {
    background-color: white;
    color: #272727;
    border: 2px solid #ffffff;
  }
  
  .startGameButton-container {
    position: absolute;
    top: 67%; /* adjust to move up/down */
    left: 70%; /* adjust to move left/right */
    transform: translate(-50%, -50%);
  }
  